NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
DEEPSEEK_API_KEY=your-deepseek-api-key

# Cloudflare R2 配置
R2_ACCOUNT_ID=1fe5278c2cd0bf194db323065d02ce48
R2_ACCESS_KEY_ID=175078220865a7cce1059981bbe9673f
R2_SECRET_ACCESS_KEY=30e046ef0cd73305f8bb2b4eccdcc754c956753998a21344496b43d1717be210
R2_BUCKET_NAME=quanwudinzhierp
# R2_PUBLIC_URL=https://cdn.yourdomain.com  # 可选，自定义域名
